
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 5px;
}

.container :hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.card{
    /* border: 2px solid red; */
    display: flex;
    gap: 5px;
    padding: 4px 5px 5px 0;
    border-radius: 10px;
}

.thumb-container img{
    width: 160px;
    height: 90px;
    border-radius: 8px;
}
.thumb-container{
    /* border: 2px solid blue; */
    position: relative;
    padding: 4px;
}

.duration{
    color: white;
    background-color: rgba(0, 0, 0, 0.747) !important;
    border-radius: 4px;
    padding: 3px;
    font-size: 0.8em;
    position: absolute;
    right: 5px;
    bottom : 10px;
    cursor: context-menu;
}

.info{
    padding-top: 2px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.info .title{
    font-weight: 600;
    font-size: 1rem;
}

#create{
    background-color: antiquewhite;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 10px;
}
